*{
	margin:0px;
	padding:0;
	box-sizing:border-box;
}

.calculator{
	width:400px;
	height:600px;
	background:purple;
	display:flex;
	align-items:center;
	flex-direction:column;
}

.c-screen{
	width:90%;
	background:white;
	height:10%;
	margin-top:20px;
	
}

.c-keypad{
	width:90%;
	background:blue;
	height:80%;
	margin-top:20px;
}

.c-keys{
	width:10%;
	height:10%;
	background:yellow;
	border:1px solid black;
	float:left;
}
